.vs-panel { /* Adjust the width to your preference */
    padding: 2.1rem; /* Add padding to the VS panel */
    box-sizing: border-box; /* Include padding in the width calculation */
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;
  }

  @media (max-width: 768px) {
    .vs-panel {
        width: calc(100vw + 60vw);
     
      /* flex-direction: row; */
      background-color: rgba(2, 22, 123, 0); 
    }
}
  
  .vs-header {
    display: flex;
    align-items: center;
  }
  
  .vs-text {
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
   align-items: center;
   align-content: center;
   /* margin-bottom: 1rem; */
    color: #0cbace; 
  }
  
  .team {
    display: flex;
    align-items: center;
  }
  
  .team-logo {
    width: 10rem; /* Adjusted logo size */
    padding: 0.4rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(111, 111, 111, 0.6);
    margin-right: 10px; /* Add some space between logo and team name */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .team-logo {
      padding-bottom: 1.4rem;
      padding-top: 2rem;

      width: 6rem; /* Decreased logo size for smaller screens */
    }
  }
  
  
  .team-name {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; /* Dark text color */
    margin-right: 5px; /* Add some space between team name and goals */
  }
  
  .team-goals {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: #ffff; /* Dark text color */
    margin: 0 10px; /* Add margin around the goals */

    
  }

  @media (max-width: 768px) {
    .team-goals {
    font-size: 3rem; /* Decreased logo size for smaller screens */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .vs-text {
      align-self: center;
         align-content: center;
         align-items: center;
         font-size: 2rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

  }
  .match-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0; /* Light gray background color */
  padding: 10px; /* Add padding */
  border-radius: 10px;
}

.match-details span {
  color: #333; /* Dark text color */
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Add some margin between the spans */
/* .match-details span + span {
  margin-left: 10px;
  
} */

.match-details {
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
  }
  
  .icon-text {
    display: flex;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:2rem; 
  }
  
  .icon-text:last-child {
    margin-right: 0; /* Remove margin from the last child to prevent extra space */
  }

