@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

body {
    /* font-family: 'Lora', serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
   
}

@media (max-width: 768px) {
    .table-container{
      width: 250vw;
    }
  }
.main-table {
    display              : grid;
    grid-template-columns: repeat(10, 1fr);
    align-items          : center;
    background-color     : rgba(22, 187, 157, 0.757);
    min-height           : 6vh;
    width                : 140vh;
    border-radius        : 10px;
    font-weight          : 600;
}

.main-table p {
    width:auto;
    text-align: center;
    position  : relative;
}

.main-table .name {
    min-width: 100px;
    text-align: left;
    padding:3px;
    margin-left: 25px;
}

.main-table p:not(:last-child):after {
    content         : '';
    position        : absolute;
    height          : 100%;
    width           : 1px;
    background-color: #fff;
    right           : -5px;
    top             : 0;
}

.table {
    display              : grid;
    grid-template-columns: repeat(10, 1fr);
    align-items          : center;
    background-color     : rgb(2, 19, 33);
    min-height           : 6vh;
    width                : 140vh;
    border-radius        : 10px;
    color                : #fff;
}

.green-row {
    background-color: green;
  }

.table p {
    text-align: center;
    position  : relative;
}

.table .name {
    /* min-width: calc(10vw); */
    text-align: left;
    margin-left: 25px;
}

.table p:not(:last-child):after {
    content         : '';
    position        : absolute;
    height          : 100%;
    width           : 1px;
    background-color: #fff;
    right           : -5px;
    top             : 0;
}
.card-header{
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}